@import "tailwindcss";

:root {
  color-scheme: light;
  --color-primary: #7DBF22;
  --color-secondary: #002C4D;
  --color-background: #F2F2F2;
  --color-accent: #C1C6C8;
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-background: var(--color-background);
  --color-accent: var(--color-accent);
}

body {
  @apply bg-background;
}

*{
    box-sizing: border-box;
}